<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{subject}}</title>
</head>
<body>
<h1>
	<img src="https://flightdeck.desertskyrangers.org/logo.png" alt="FlightDeck Logo" width="64px" height="64px" style="vertical-align: middle"/>
	FlightDeck
</h1>
<p>
	A request has been made to change the password for your account. If you did
	not make this request you can safely ignore this email and your password will
	remain unchanged. If you did make this request, you may update your password
	here:
</p>
<p><a href="{{link}}">RESET YOUR PASSWORD</a></p>
<p>Best regards</p>
<p>The FlightDeck Team</p>
<p>-----</p>
<p> NOTE: This is an automated email. Replies to this email are ignored.</p>
</body>
</html>
