<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{subject}}</title>
</head>
<body>
<h1>
	<img src="https://flightdeck.desertskyrangers.org/logo.png" alt="FlightDeck Logo" width="64px" height="64px" style="vertical-align: middle"/>
	FlightDeck
</h1>
<p>FlightDeck membership requested for {{memberName}}</p>

<p>
	{{memberName}} has requested to be a member of {{groupName}}. As a group
	owner you should accept or reject this request at your earliest convenience.
	Please log in to FlightDeck, go to <a href="https://flightdeck.desertskyrangers.org/group/user">your Groups page</a>,
	and review the membership for {{groupName}}.
</p>

<p>Best regards,</p>
<p>The FlightDeck Team</p>
<p>-----</p>
<p> NOTE: This is an automated email. Replies to this email are ignored.</p>

</body>
</html>
