<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{subject}}</title>
</head>
<body>
<h1>
	<img src="https://flightdeck.desertskyrangers.org/logo.png" alt="FlightDeck Logo" width="64px" height="64px" style="vertical-align: middle"/>
	FlightDeck
</h1>
<p>Hello {{memberName}}, welcome to the FlightDeck!</p>

<p>
	You have been invited to join the FlightDeck group {{groupName}}. If you are
	not interested, you may disregard this email without further action. However,
	if you would like to accept this invitation, please log in to FlightDeck, go
	to <a href="https://flightdeck.desertskyrangers.org/group/user">your Groups page</a>,
	and accept your membership to {{groupName}}.
</p>

<p>Best regards,</p>
<p>The FlightDeck Team</p>
<p>-----</p>
<p> NOTE: This is an automated email. Replies to this email are ignored.</p>

</body>
</html>
